html,
body,
#root {
  color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

.app-container {
  min-height: 100vh;
  text-align: center;
}

.app-header {
  align-items: center;
  background-color: white;
  display: flex;
  font-size: calc(10px + 2vmin);
  min-height: 10vh;
}

.main-container {
  min-height: 90vh;
}

.card-title {
  text-transform: capitalize;
}

.card-text {
  font-size: 0.75rem;
}

.title-container {
  padding: 0 16px;
}

.select-pizza-btn {
  width: 100%;
}
